@import "../../consants/variables";

.modal-container {
  &--open {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: #1e1c1c2e;
    position: fixed;
    top: 0;
  }
}

.modal {
  display: none;
  border: 1px solid $basicColor;
  border-radius: 4px;
  padding: 20px 15px;
  font-family: $basicFont;
  font-size: $basicFontSize;
  text-align: center;
  width: 350px;
  margin: 0 auto;
  position: fixed;
  top: 180px;
  left: 0;
  right: 0;
  background: $lightBasicColor;
  -webkit-box-shadow: 0 0 16px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: 0 0 16px -6px rgba(0,0,0,0.75);
  box-shadow: 0 0 16px -6px rgba(0,0,0,0.75);

  @media screen and (max-width: 750px){
    width: 80%;
    font-size: $basicFontSizeForMobile;
  }

  &__title {
    font-size: $basicFontSizeForTitle;
    font-weight: 800;
    margin: 0 0 20px;
  }

  &__text {
    padding: 20px 0 30px;
  }

  &--open {
    display: block;
  }
}