//color
$lightBasicColor: #ffffff;
$basicColor: #808080;
$middleBasicColor: #404040;
$darkBasicColor: #222222;
$colorForSlider: #00ffff;

//fonts
$basicFont: 'Raleway', sans-serif;

//font size
$basicFontSize: 24px;
$basicFontSizeForMobile: 16px;
$timerFontSize: 80px;
$basicFontSizeForTitle: 30px;
$basicFontSizeForSymbol: 40px;