@import "../../consants/variables";

.form {
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  border: 1px solid $basicColor;
  border-radius: 4px;
  padding: 30px 10px;
  width: 450px;
  font-family: $basicFont;
  font-size: $basicFontSize;

  @media screen and (max-width: 750px){
    width: 100%;
    font-size: $basicFontSizeForMobile;
  }

  &__title {
    font-weight: 800;
    margin: 0 0 35px;
    font-size: $basicFontSizeForTitle;
  }

  &__field {
    display: flex;
    justify-content: space-between;
    margin: 0 0 20px;
  }

  &__input {
    border: 1px solid $basicColor;
    border-radius: 4px;
    height: 30px;
    padding: 5px;

    @media screen and (max-width: 750px){
      width: 60%;
    }
  }

  &__button {
    margin: 20px auto 0;
    width: 100px;
  }
}