@import "../../consants/variables";

.timer {
  margin: 20px auto 40px;
  border-radius: 70px;
  color: $middleBasicColor;
  border: 1px solid $basicColor;
  text-align: center;
  line-height: 100px;
  width: 100%;
  height: 100px;
  font-size: $timerFontSize;
  font-family: $basicFont;

  @media screen and (max-width: 750px) {
  font-size: $basicFontSizeForTitle;
}
}
