@import "../../consants/variables";

.menu {
  display: flex;
  list-style-type: none;
  padding: 0 80px;
  background: $basicColor;
  position: fixed;
  font-family: $basicFont;
  font-size: $basicFontSize;
  color: $lightBasicColor;
  width: 100%;
  justify-content: space-around;
  top: 0;

  @media screen and (max-width: 750px) {
    padding: 0;
    font-size: $basicFontSizeForMobile;
  }

  &__item {
    height: 60px;
    line-height: 60px;
    text-align: center;
    transition: .3s;
    cursor: pointer;
    width: 100%;

    &:hover {
      background: $middleBasicColor;
    }

    @media screen and (max-width: 750px) {
      width: 70px;
    }
  }
  }
