@import "../../consants/variables";

.slider-container {
  display: flex;
  align-items: center;
}

.slider{
  display: block;
  width: 70%;
  height: 200px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard syntax */
}

.wrapper{
  height: 100%;
  position: relative;
  margin: 0 auto;
  will-change: transform;
}
.slide{
  position: absolute;
  top: 0;
  overflow: hidden;
  float: left;
  background: $colorForSlider;
  height: 100%;
  line-height: 200px;
  transform: scale(1.0);
}

.slider__btn{
  border-radius: 50%;
  background: transparent;
  height: 50px;
  width: 50px;
  outline: none;
  border: 1px solid $basicColor;
  color: $basicColor;
  font-size: $basicFontSizeForSymbol;
  font-family: $basicFont;
  padding: 0 0 10px 5px;
  transition: .3s;
  &--left {
    padding: 0 5px 10px 0;
  }

  &:hover {
    color: $darkBasicColor;
    border-color: $darkBasicColor;
  }
}