.App {
    padding: 60px 0 0;
}

.footer {
    padding: 10px 40px;
    background: #c4c4c4;
    height: 60px;
}

.footer__list {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.footer__list-item {
    padding: 0 10px;
}

a {
    text-decoration: none;
    color: inherit;
    width: 100%;
    height: 100%;
    outline: none;
}