@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.button {
  display: block;
  background: transparent;
  outline: none;
  font-size: 25px;
  padding: 11px 16px;
  border: 1px solid gray;
  border-radius: 4px;
  font-family: 'Raleway', sans-serif;
  width: 100px;
  margin: 0 auto;
  transition: .3s;
}

.button:hover {
  background: #dcdcdc;
}

.container {
  text-align: center;
  padding: 0 40px 20px;
}

.title {
  padding: 50px 0 0;
  font-weight: 800;
  font-size: 80px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  margin: 0 0 40px;
}

@media screen and (max-width: 750px){
  .title {
    font-size: 50px;
  }

  .button {
    font-size: 18px;
    width: 30%;
    padding: 5px 0;
  }
}